.servicePlanContainer {
    padding: 20px 0;
    // text-align: center;
   
}

.img-fluid {
    height: 100%;
}

.lightTitle {
    font-weight: bold;
    font-size: 25px;
    margin: 20px auto;
    color: #c95001;
    text-transform: uppercase;
}
