.serviceContainer {
    padding-top: 40px;
    background-color: whitesmoke ;
}

.faqContainer{
    padding: 30px 30px;
    align-items: center;

    flex: 1;
}
.lightTitle{
    font-weight: bold;
    font-size: 25px;
    margin: 20px auto;
    color: #112D4E;
    text-transform: uppercase;
    text-align: center;
}

