
  
 
  
  .mobile {
    width: 360px;
    height: 640px;
    align-self: center;
    display: grid;
    grid-template-rows: 10% auto;
    color: #fff;
  }
  
  .mobile > div {
    padding: 1rem 2rem;
  }
  
  .header {
    background: #21223f;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  

  .total .label {
    color: #828393;
  }
  
  /* .content {
    background: #21223f;
    display: grid;
  } */
  
  .total {
    align-self: start;
    justify-self: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .total > div:not(:first-child):not(:last-child) {
    margin: 0.5rem;
  }
  
  .total .label,
 .label {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.8rem;
  }
  
  .total .value {
    font-size: 1.8rem;
  }
  
  .total .balance {
    background: #1f3a4a;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #02ca8c;
  }
/*   
  .cards {
    display: grid;
    overflow-x: auto;
    overflow-y: hidden;
    grid-template-columns: repeat(auto-fill, minmax(auto, 0));
    grid-gap: 10px;
    align-self: start;
  }
  
  .card {
    min-width: 130px;
    height: 90px;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
   */
  
   .balance {
    display: flex;
    align-self: start;
    padding: 0.5rem 0;
    width: 60px;
    justify-content: space-around;
    font-size: 0.8rem;
  }
  
   .label {
    color: #adffff;
    font-size: 0.7rem;
  }
  
   .item {
    align-self: start;
    padding: 0.5rem 0;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
 .arrow-up {
    transform: rotateZ(45deg);
  }
  
 .item .value {
    font-size: 1.3rem;
  }
  
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #21233f;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: 10px;
  }
  